.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: steelblue;
  height: 80px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.App-header img {
  margin-right: 20px;
}

.App-header h1 {
  font-family: 'Sedgwick Ave', cursive;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card {
  margin: 5px;
  text-align: left;
}

.card.question {
  border: 1px solid steelblue;
}

/*.card.answer {
  border: 1px solid #F6C08D;
}*/

.card-title {
  color: steelblue;
  font-size: 18px;
}

/*.card-title.header {
  background: steelblue;
  color: white;
  padding: 10px;

  border-radius: 5px;
}*/

.card-title.headline {
  font-size: 18px;
  text-align: left;
  padding: 5px 0 0 5px;
  color: black;
}

.btn-group-lg>.btn, .btn-lg {
  margin: 15px;
}
